<div id="flights-index">


  <div class="container">

    <h1>FLIGHTS</h1>

    <div class="flicard-container">
      <div class="text-left">
        <%# <a href="./flights" class="button-flights">Choose your flight</a> %>
      </div>
    </div>

    <div class="book py-5">
      <% @flights.each do |flight|%>
        <div class="d-flex justify-content-between w-100 mb-5">
          <% if flight.photo.attached? %>
            <a href="./flights" class="flightpic"><%= cl_image_tag flight.photo.key, height: 300, width: 400, crop: :fill, class:"flightpic" %></a>
          <% end %>

          <div class="text-end ps-5">
            <h2 class="flightdepdate">TITRE</h2>

            <div class="date">
              <th>Departure: <strong><%= flight.departure_date.strftime("%m/%d/%Y") %></th></strong>

            </div>

            <div class="date">
              <th>Duration: <strong><%= flight.flight_duration %></th> minutes</strong>
            </div>

            <div class="cost">
              Total price: <strong><%= flight.price_per_person %> ₩</strong>
            </div>
          </div>

        <%= button_to "Book your flight", flight_bookings_path(flight) %>

        </div>
      <% end %>
    </div>

  </div>

</div>

<%#
<% @flights.each do |flight| %>
  <%# <%= flight.travel_distance, flight.price_per_person %>
<%# <% end %>
